@CHARSET "UTF-8";

body {
	background: url("../images/fond.jpg");
	font-family:sans-serif;
	margin-left:auto;
	margin-right:auto;
	width:90%;
}



header {
	text-align:center;
	font-size:160%;
	line-height:150%;
	color:#B2CC33;
	overflow:hidden;

}

header img {
	float:left;
	margin:5px;
}


#bloc_article {
	display:inline-block;
	width:73%;
}

article {
	text-align:justify;
	padding:10px;
	padding-bottom:20px;
	background:#fff;
	color:#000;
	border-radius:10px;
	display:inline-block;
	min-height:400px;
}


nav {
	background:#B2CC33;
	padding:4px;
}

nav li {
	display:inline;
	line-height: 40px;
}

nav #select {
	background:#e1d2b8;
	color:#444;
}

nav a {
	text-decoration:none;
	color:#fff;
	background:#444;
	padding-left:20px;
	padding-right:20px;
	padding-top:5px;
	padding-bottom:5px;
	box-shadow:8px 8px 8px grey;
}

nav a:hover {
	background:#6fc3df;
}


aside {
	font-size:75%;
	width:25%;
	float:right;
	vertical-align:top;
	right:0px;
	background:#B2CC33;
	border-radius:10px;
	padding:5px;
	display:inline-block;
}

aside h2 {
	text-align:center;
}

aside>div {
	overflow:auto;
	height:400px;
}

aside section {
	text-align:left;
	border:solid 4px #fff;
	padding:3px;
	margin:5px;
}

aside section div {
	height:200px;
	overflow:hidden;
}

aside section a {
	display:block;
	text-align:right;
	background:#fff;
}


footer {
	padding:3px;
	text-align:center;
	font-size:75%;
	background:#B2CC33;
	border-radius:10px;
}
